accelerate
transformers
langdetect
six
emoji
nltk
pythainlp
pandas
scipy
anthropic
mistralai
google.generativeai
openai
absl-py
langfuse
langchain
langchain-core
langchain-community
langchain-openai
langchain-anthropic
langchain-google-genai
langchain-ollama
pysondb
gradio
spacy
datasets
immutabledict
janome
ja_sentence_segmenter
markdown
